
{% include 'include/header.html.twig' %}
<style>
    th
    {
        font-size:1vw;
    }
    td
    {
        font-size: 0.8vw;
        max-width: 8vw;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-1">
            {% include 'include/adminpanel.html.twig' %}
        </div>
        <div class="col-11">
            <div style="overflow-y:scroll; height: auto;">
                <div class="table-responsive">
                    <div class="container">
                <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Nationality</th>
                <th>BirthYear</th>
                <th>DeathYear</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>
                    <a class="btn btn-success" style="height: 1.5vw; width: 4vw;"  href="{{ path('author_show', {'id': author.id}) }}"><strong>VIEW</strong></a>
                </td>
                <td>
                    <a class="btn btn-warning" style="height: 1.5vw; width: 4vw;"  href="{{ path('author_edit', {'id': author.id}) }}"><strong>EDIT</strong></a>
                </td>
                <td>{{ author.id }}</td>
                <td>{{ author.Name }}</td>
                <td>{{ author.Surname }}</td>
                <td>{{ author.Nationality }}</td>
                <td>{{ author.BirthYear }}</td>
                <td>{{ author.DeathYear }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
                </table></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include 'include/footer.html.twig' %}
