{% include 'include/header.html.twig' %}

        <div class="container-fluid">
            <div class="row">
        <div class="col-2">

            {% include 'include/adminpanel.html.twig' %}
        </div>

            <div class="col-10">
                <h1 class="text-center">New Author</h1>
    {{ include('author/_form.html.twig') }}
            </div>
        </div>
    </div>
<div class="container">
<div class="row">
<div class="col-12">
    <div class="container">
        <table class="table">
            <thead>
            <h3 class="text-center">Authors In Database</h3>
            <tr>
                <th>Full Name</th>
                <th>Nationality</th>
                <th>BirthYear</th>
                <th>DeathYear</th>
            </tr>
            </thead>
            <tbody>
            {% for author in authors %}
                <tr>
                    <td>{{ author.Name }} {{ author.Surname }}</td>
                    <td>{{ author.Nationality }}</td>
                    <td>{{ author.BirthYear }}</td>
                    <td>{{ author.DeathYear }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
{% include 'include/footer.html.twig' %}
