
{% include 'include/header.html.twig' %}
<style>
    th
    {
        font-size:0.8rem;
    }
</style>
<div class="container-fluid">
<div class="row">
    <div class="col-2">
{% include 'include/adminpanel.html.twig' %}
    </div>
    <div class="col-10">
        <div style="overflow-y:scroll; height: auto;">
            <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>BookTitle</th>
                <th>Original<br />Title</th>
                <th>Yearof<br />Publication</th>
                <th>Genre</th>
                <th>Millions<br />Sold</th>
                <th>Language<br />Written</th>
                <th>Book Cover</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>
                    <a class="btn btn-sm btn-success" style="margin-top: 0.5vw;" href="{{ path('books_show', {'id': book.id}) }}">
                        <strong>VIEW</strong>
                    </a>
                    <a class="btn btn-sm btn-warning" style="margin-top: 0.5vw;" href="{{ path('books_edit', {'id': book.id}) }}"><strong>EDIT</strong></a>
                </td>
                <td style="font-size: 0.8rem;">{{ book.BookTitle }}</td>
                <td style="font-size: 0.8rem;">{{ book.OriginalTitle }}</td>
                <td style="font-size: 0.8rem;">{{ book.YearofPublication }}</td>
                <td style="font-size: 0.8rem;">{{ book.Genre }}</td>
                <td style="font-size: 0.8rem;">{{ book.MillionsSold }}</td>
                <td style="font-size: 0.8rem;">{{ book.LanguageWritten }}</td>
                <td>
                    <img style="height: 4rem; width: auto;" src="{{ book.coverImagePath }}">
                </td>
                {% for author in authors %}
                {% if book.author == author.id  %}
                    <td style="font-size: 0.8rem;">{{ author.Name }} {{ author.Surname }}</td>
            </tr>
            {% endif %}
{% endfor %}
{% endfor %}
        </tbody>
    </table>
</div>
    </div>
    </div>
</div>
</div>
{% include 'include/footer.html.twig' %}

