
{% include 'include/header.html.twig' %}
<style>
    th
    {
        font-size:1rem;
    }
    td
    {
        font-size: 0.8rem;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            {% include 'include/adminpanel.html.twig' %}
        </div>
        <div class="col-10">
            <div style="overflow-y:scroll; height: auto;">
                <div class="table-responsive">
                    <div class="container">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>FirstName</th>
                <th>LastName</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    <a  class="btn btn-success btn-sm" href="{{ path('users_show', {'id': user.id}) }}"><strong>SHOW</strong></a>
                </td>

                <td>
                    <a class="btn btn-warning btn-sm" href="{{ path('users_edit', {'id': user.id}) }}"><strong>EDIT</strong></a>
                </td>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.FirstName }}</td>
                <td>{{ user.LastName }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'include/footer.html.twig' %}
